@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    padding: 0;
    font-family: "Montserrat";
    margin: 0;
    box-sizing: border-box;
    color: white
}

body {
    background-color: #121212;
    overflow-x: hidden;
}

.background {
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.card--wrapper {
    width: 734px;
    height: 1000px;
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

.card {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top--title {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 40px;
}

.connect--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.connect {
    font-size: 14px;
    font-weight: 700;
    padding: 15px 80px;
    border: 1px solid #878787;
    border-radius: 50px;
}

.division__line {
    height: 1px;
    width: 70%;
    background-color: rgb(41, 41, 41);
    margin: 32px 0px;
}

.input--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px
}

.input--content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.input--content p {
    font-size: 12px;
    font-weight: bold;
}

.input--content input {
    background-color: transparent;
    border: 1px solid #878787;
    width: 322px;
    color: #ffffff98;
    font-weight: 600;
    height: 48px;
    border-radius: 4px;
    outline: none;
    padding: 0px 10px;
    font-size: 14px;
}